:root {
  /* Основные цвета */
  --ant-primary-color: #D17600;
  --ant-primary-color-hover: #E88800;
  --ant-primary-color-active: #B56300;
  --ant-primary-bg: #eff1f4;
  --ant-primary-color-text: #FFFFFF;

  --ant-secondary-color-text: #29292973;
  
  /* Текст и фон */
  --ant-text-color: rgba(0, 0, 0, 0.9);
  --ant-dark-text-color: #141414; /* Для текста на светлых элементах в dark mode */
  --ant-bg-container: #FAFAFA;
  --ant-border-color: #D9D9D9;

  --game-primary-bg: #d2f2ff;

  --ant-placeholder-color: rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] {
  /* Основные цвета */
  --ant-primary-color: #E69500;
  --ant-primary-color-hover: #FFA500;
  --ant-primary-color-active: #CC8400;
  --ant-primary-bg: #2B2111;
  --ant-primary-color-text: #000000;

  --ant-secondary-color-text: #ffffff73;
  
  /* Текст и фон */
  --ant-text-color: rgba(255, 255, 255, 0.92);
  --ant-bg-container: rgb(26 26 26 / 0.7);
  --ant-border-color: #444;

  --game-primary-bg: #123540;

  --ant-placeholder-color: rgba(255, 255, 255, 0.3);
}

