:root {
  /* Основные цвета */
  --ant-primary-color: #d17600;
  --ant-primary-color-hover: #e88800;
  --ant-primary-color-active: #b56300;
  --ant-primary-bg: #eff1f4;
  --ant-primary-color-text: #ffffff;

  --ant-secondary-color-text: #29292973;

  /* Текст и фон */
  --ant-text-color: rgba(0, 0, 0, 0.9);
  --ant-dark-text-color: #141414; /* Для текста на светлых элементах в dark mode */
  --ant-bg-container: #fafafa;
  --ant-border-color: #d9d9d9;

  --game-primary-bg: #d2f2ff;
}

[data-theme='dark'] {
  /* Основные цвета */
  --ant-primary-color: #e69500;
  --ant-primary-color-hover: #ffa500;
  --ant-primary-color-active: #cc8400;
  --ant-primary-bg: #2b2111;
  --ant-primary-color-text: #000000;

  --ant-secondary-color-text: #ffffff73;

  /* Текст и фон */
  --ant-text-color: rgba(255, 255, 255, 0.92);
  --ant-bg-container: #1a1a1a;
  --ant-border-color: #444;

  --game-primary-bg: #123540;
}
