// Bold
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Bold.woff') format('woff'),
    url('../../public/fonts/ALSHauss-Bold.ttf') format('ttf');
  // eslint-disable-next-line @conarti/feature-sliced/absolute-relative
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-BoldItalic.woff') format('woff'),
    url('../../public/fonts/ALSHauss-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

// Medium
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Medium.woff') format('woff'),
    url('../../public/fonts/ALSHauss-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-MediumItalic.woff') format('woff'),
    url('../../public/fonts/ALSHauss-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

// Regular
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Regular.woff') format('woff'),
    url('../../public/fonts/ALSHauss-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-RegularItalic.woff') format('woff'),
    url('../../public/fonts/ALSHauss-RegularItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

// Light
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Light.woff') format('woff'),
    url('../../public/fonts/ALSHauss-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-LightItalic.woff') format('woff'),
    url('../../public/fonts/ALSHauss-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}

// Thin
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Thin.woff') format('woff'),
    url('../../public/fonts/ALSHauss-Thin.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('/public/fonts/ALSHauss-ThinItalic.woff') format('woff'),
    url('/public/fonts/ALSHauss-ThinItalic.ttf') format('ttf');
  font-weight: 200;
  font-style: italic;
}

// Hairline
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Hairline.woff') format('woff'),
    url('../../public/fonts/ALSHauss-Hairline.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-HairlineItalic.woff') format('woff'),
    url('../../public/fonts/ALSHauss-HairlineItalic.ttf') format('ttf');
  font-weight: 100;
  font-style: italic;
}

// Black
@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-Black.ttf') format('woff'),
    url('../../public/fonts/ALSHauss-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ALSHauss';
  font-display: swap;
  src: url('../../public/fonts/ALSHauss-BlackItalic.woff') format('woff'),
    url('../../public/fonts/ALSHauss-BlackItalic.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Blob Spongey';
  src: url('../../public/fonts/BlobSpongeyLowercase.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.1em;
}
