@font-face {
  font-family: Roboto;
  src:
    local("Roboto"),
    url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype supports variations"),
    url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations"),
    url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype") tech('variations'),
    url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Roboto-Italic';
  src:
    local("Roboto-Italic"),
    url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype supports variations"),
    url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations"),
    url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype") tech('variations'),
    url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}
