@mixin flex-layout {
  display: flex;
  flex-direction: column;
}

@mixin layout-2-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

@mixin layout-2-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin sm {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin main-background {
  background-image: url('/fones/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
