@mixin flex-layout {
  display: flex;
  flex-direction: column;
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
