:root {
	--border: 1px solid var(--ant-border-color);
}

h1 {
  font-family: 'Blob Spongey', sans-serif;
  margin: 0 0 30px 0;
}

.ant-form-item-explain {
  text-align: left !important;
}

.ant-form-item-explain-error {
  justify-content: flex-start !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
